.project {
  padding: 3rem;
  margin: 0.6rem;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.link {
  text-decoration: none;
  color: black;
}
.project-title {
  font-size: 3rem;
}

.project-subtitle {
  font-size: 1.3rem;
  font-weight: 300;
}

.project-description {
  font-size: 0.9rem;
}

@media screen and (max-width: 480px) {
  .project {
    padding: 0.3rem 3rem;
  }
}
