.project {
  padding: 3rem;
  margin: 0.6rem;
  height: 25vh;
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.link {
  text-decoration: none;
  color: black;
}
.project-title {
  font-size: 3rem;
  color: #365f7a;
  margin-bottom: 0.5rem;
}

.project-subtitle {
  font-size: 1.4rem;
  font-weight: 500;
  color: #365f7a;
  margin-bottom: 0.5rem;
}

.project-description {
  font-size: 1.3rem;
  color: #51748b;
}

.links {
  width: 20rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 480px) {
  .project {
    width: 100%;
    height: 100%;
    padding: 0.3rem;
  }

  .project-title {
    margin-top: 1rem;
    font-size: 1.9rem;
  }
  .project-subtitle {
    font-size: 1.1rem;
  }

  .project-description {
    font-size: 1rem;
  }
}

@media screen and (min-width: 481) and (max-width: 768px) {
  .project {
    width: 100%;
    height: 100%;
    padding: 0.3rem;
  }

  .project-title {
    margin-top: 1rem;
    font-size: 1.9rem;
  }
  .project-subtitle {
    font-size: 1.1rem;
  }

  .project-description {
    font-size: 1rem;
  }
}
