.about {
  max-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 3rem;
}

.about-left {
  /* margin-top: 4rem; */
  /* height: 50%; */
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about-right {
  flex: 1;
  margin-right: 2rem;
}

.about-component {
  width: 60%;
  border-radius: 1.9rem;
  position: relative;
  overflow: hidden;
}

.about-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-heading {
  font-size: 3rem;
  margin-bottom: 1.3rem;
  color: #365f7a;
}

.about-description {
  font-size: 1.2rem;
  margin-bottom: 0.9rem;
  margin-left: 1.3rem;
  color: #51748b;
  width: 40vw;
}

span {
  font-weight: bold;
  margin-left: 1.3rem;
}
.list {
  list-style: none;
  padding: 0.6rem;
}
.about-dots {
  width: 10rem;
}

.about-pics {
  display: flex;
  justify-content: center;
  padding: 1.3rem;
}

@media screen and (max-width: 480px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .about-right {
    margin: 0 1.3rem;
  }
 
  .about-pics {
    margin-top: 1rem;
  }
  .about-description {
    width: 100%;
    margin: 0.1rem;
  }
  span {
    display: none;
  }
  .list {
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .about {
    height: 100%;
    flex-direction: column;
    text-align: center;
  }
  .about-left {
    height: 60vh;
    width: 60%;
  }

  .about-component {
    height: 50vh;
  }

  .about-right {
    margin: 0 1.3rem;
  }

  .about-my-pics {
    display: none;
  }
  .about-description {
    width: 100%;
    margin: 0.1rem;
  }

  span {
    display: none;
  }
  .list {
    display: none;
  }
}
