.contact {
  max-height: 95vh;
  position: relative;
}

.contact-background {
  width: 1.3rem;
  height: 100%;
  background-color: #5e87a2;
  position: absolute;
}

.contact-wrapper {
  padding: 3rem;
  display: flex;
}

.contact-left {
  flex: 1;
}

.contact-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.form-adjust {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-text {
  font-size: 3rem;
  width: 80%;
  color: #365f7a;
}

h6 {
  color: #3c6581;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}
.contact-item {
  display: flex;
  align-items: center;
  margin: 1.6rem 0;
  font-weight: 300;
}
.contact-image {
  width: 3rem;
  height: 3rem;
  margin-right: 1.3rem;
}

.contact-mail-text {
  font-weight: 400;
  color: #3c6581;
}

form {
  margin-top: 1.9rem;
}

input {
  width: 60%;
  height: 3rem;
  border: none;
  border-bottom: 0.06rem solid black;
  margin: 0.6rem 0px;
  font-size: 0.9rem;
  padding-left: 0.6rem;
}
textarea {
  width: 100%;
  margin: 0.6rem 0px;
  font-size: 0.9rem;
  padding-left: 0.6rem;
}

button {
  border: none;
  padding: 1.3rem;
  background-color: #5e87a2;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.send-message {
  margin-top: 1.3rem;
}

@media screen and (max-width: 480px) {
  .contact-wrapper {
    flex-direction: column;
  }
  .contact-wrapper {
    padding: 0.9rem 3rem;
  }
  .contact-right {
    margin-top: 0.8rem;
  }
  .contact-text {
    font-size: 1.5rem;
  }
  .contact-item {
    height: 50%;
    margin: 0.4rem;
  }

  form {
    margin-top: 0.6rem;
  }
  input {
    height: 2rem;
  }
  textarea {
    width: 100%;
    margin: 0.8rem 0px;
    font-size: 0.9rem;
    padding-left: 0.6rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .contact-text {
    font-size: 1rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .contact-text {
    font-size: 2.3rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .contact-text {
    font-size: 2.3rem;
  }
}
