.projects {
  margin-left: 150px;
}

.projects-heading {
  margin: 20px 10px;
  font-size: 50px;
}

.project-list {
  height: 100vh;
  display: flex;
  align-items: center;
}

.project-list-left {
  height: 100%;
  flex: 2;
  display: flex;
  align-content: center;
  position: relative;
}

.project-list-right {
  height: 100%;
  flex: 1;
  margin-top: 150px;
  margin-right: 20px;
}
