.project-list-wrapper {
  height: 60vh;
  display: flex;
  align-items: center;
}

#projects {
  display: none;
}

.project-list-left {
  height: 100%;
  flex: 2;
  display: flex;
  align-content: center;
  position: relative;
  margin-top: 5rem;
}

.project-list-right {
  height: 100%;
  flex: 1;
  margin-top: 8rem;
  margin-right: 1.3rem;
}
.div-dots {
  display: flex;
  justify-content: center;
}
.dots {
  width: 40%;
}

@media screen and (max-width: 480px) {
  .project-list-wrapper {
    flex-direction: column;
  }

  .projects {
    margin-left: 2.5rem;
  }

  .project-list-wrapper {
    height: 100%;
  }

  .project-list-right {
    margin: 0 1.3rem 1.9rem 1.3rem;
  }
}
