.project-list-wrapper {
  height: 50vh;
  display: flex;
  align-items: center;
}

.project-list-left {
  height: 100%;
  flex: 2;
  display: flex;
  align-content: center;
  position: relative;
}

.project-list-right {
  height: 100%;
  flex: 1;
  margin-top: 150px;
  margin-right: 20px;
}

@media screen and (max-width: 480px) {
  .project-list-wrapper {
    flex-direction: column;
  }

  .projects {
    margin-left: 40px;
  }

  .project-list-wrapper {
    height: 100%;
  }

  .project-list-right {
    margin: 0 20px 30px 20px;
  }
}
